:root:before {
    content: url(/files/cv.pdf)
             url(/files/resume.pdf);
    /* partial fallback */
    background-image: url(/files/resume.pdf);
    visibility: hidden;
    position: absolute;
    left: -999em;
}

html, body { background-color: #525659 ; }
div { overflow: hidden !important;}

.container {
    overflow: hidden !important;
    /* background-color: #525659; */
    margin: auto;
    width: 100%;
    height: 60%;
    /* border: 3px solid green; */
    padding: 10px;
    text-align: center;
    display: block;
    /* background-color: white; */
}
.c1, .c2, .c3, .c4, .c5, c6 {
    display: block;
}

.center {
    margin: auto;
    width: 40%;
}
iframe {
    background-color: aliceblue !important;
    overflow: hidden;
    /* border:0px solid white; overflow:hidden; */
    /* pointer-events:none; */
}

body {
    text-align: center;
}
  
header{
    margin: auto;
    padding: 2rem;
}



/* OTHER.HTML */
.book {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between;  */
}
.pages {
    margin: auto;
    display: flex;
}
.fakePDF1 {
    background-color: white;
    height:580px;
    width: 600px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 1%;
    margin-left: 2%;
    margin-top: 5%;  
    position: relative;
    /* min-width: 564px; */
}
.fakePDF2 {
    background-color: white;
    height:580px;
    width: 600px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;
    margin-right: 2%;
    margin-top: 5%;  
    position: relative;
    /* min-width: 564px; */
}
.leftP {
    color: red;
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
}
.rightP * {
    /* text-align: "left"; */
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
}
.pageNum {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%); 
}

@media screen and (min-width: 1200px) {
    /* .fakePDF2 {
        min-width: 564px;
    } */
}


@media screen and (max-width: 1200px) {
    .fakePDF1 {
        display: none;
    }
}

@media screen and (max-width: 622px) {
    .fakePDF2 {
        background-color: pink;
        height: 80vh;
        width: 90vw;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 1%;
        padding-right: 1%;
        margin-right: 1%;
        margin-left: 2%;
        margin-top: 5%;  
        position: relative;
        /* min-width: 564px; */
    }
}

@media only screen and (max-width: 420px) {

    * { 
       font-size: .2em; 
    }
 
 }