html, body { background-color: #525659 ; }
div { overflow: hidden !important;}

.container {
    overflow: hidden !important;
    /* background-color: #525659; */
    margin: auto;
    width: 100%;
    height: 60%;
    /* border: 3px solid green; */
    padding: 10px;
    text-align: center;
    display: block;
}
.c1, .c2, .c3, .c4, .c5, c6 {
    display: none;
}

.center {
    margin: auto;
    width: 40%;
}
iframe {
    /* background-color: aliceblue !important; */
    overflow: hidden;
    /* border:0px solid white; overflow:hidden; */
    /* pointer-events:none; */
}

body {
    text-align: center;
}
  
header{
    margin: auto;
    padding: 2rem;
}